{% extends 'team/team_base.html' %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
});
</script>

<script>
$(function() {
    $("#addLoose").click(function(e) {
        e.preventDefault();
        $("#looseQuantity").append('<div><hr style="border: 0.5px solid; margin:-2px 0px"><select class="form-control" style="font-size:20px;margin:10px 0px;" name="grade"><option value="" selected="">Grade Level</option><option value="Grade 1">Grade 1 </option><option value="Grade 2">Grade 2</option><option value="Grade 3">Grade 3</option></select><input class="form-control" type="text" placeholder="No of Trays / No of Kg" style="margin:5px 0px;margin-top:-5px;" name="quantity"><input class="form-control" type="text" placeholder="Rate" style="margin:5px 0px;margin-top:-5px;" name="rate"></div>');
    });
});
</script>

<script>
$(function() {
    $("#addRegular").click(function(e) {
        e.preventDefault();
        $("#regularQuantity").append('<div><hr style="border: 0.5px solid; margin:-2px 0px"><select class="form-control" style="font-size:20px;margin:10px 0px;" name="grade"><option value="" selected="">Grade Level</option><option value="Grade 1">Grade 1 </option><option value="Grade 2">Grade 2</option><option value="Grade 3">Grade 3</option></select><input class="form-control" type="text" placeholder="No of Trays / No of Kg" style="margin:5px 0px;margin-top:-5px;" name="quantity"><input class="form-control" type="text" placeholder="Rate" style="margin:5px 0px;margin-top:-5px;" name="rate"></div>');
    });
});
</script>

<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User : {{user}}</li>
    </ol>
</div>
<div class="address py-5" id="contact">
<div class="container">
        <div class="container text-center">
            <form action="" method="POST">
                <input type="text" id="datePicker" name="date" value="{{today}}" style="font-size:18px; text-align:center" />
        </div>
    <!-- heading title -->
    <div class="main-title text-center">
        <h3 class="tittle text-dark font-weight-bold">Purchase Section</h3>
        <p class="sub-tittle mt-2">Enter farmer details and Purchase details to Submit this form</p>
    </div>
            

<div class="row address-row">
    <div class="col-md-3 "></div>
    <div class="col-md-6 col-xs-10 col-xs-offset-1">
        <div class="wow agile fadeInLeft animated mt-lg-0 mt-5" data-wow-delay=".5s">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="looseTab" data-toggle="tab" href="#loose" role="tab" aria-controls="loose" aria-selected="true">Loose</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="regularTab" data-toggle="tab" href="#regular" role="tab" aria-controls="regular" aria-selected="false">Regular</a>
                </li>
            </ul>
        <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="loose" role="tabpanel" aria-labelledby="looseTab">   
            <div class="address-grid p-sm-4 p-2">
                    <form>
                        <select class="form-control" style="font-size:20px;margin:10px 0px;margin-right:0px;margin-left:0px;" name="farmer">
                            <option value="" selected="">Farmers List</option>
                            {% for f in farmerloose %}
                            <option value="{{f['first_name']}}">{{f["first_name"]}}</option>
                            {% endfor %}
                        </select>
                        <div style="display: inline-flex; width: 100%;">
                            <select class="form-control" style="font-size:20px;margin:10px 0px;width: 90%;" name="product">
                                <option value="" selected="">Products</option>
                                {% for p in productloose %}
                                <option value="{{p['product_name']}}">{{p['product_name']}}</option>
                                {% endfor %}
                            </select>
                            <button style="border-radius: 50%; width: 10%; margin: 10px 0px 10px 8px;" class="btn btn-info" id="addLoose">
                                <i class="fa-plus fa"></i>
                            </button>
                        </div>
                        
                        <div id="looseQuantity">

                        </div>
                        <select class="form-control" style="font-size:20px;margin:10px 0px;" name="transport">
                            <option value="" selected="">Transport</option>
                            {% for t in transportloose %}
                            <option value="{{t['vehicle_name']}}">{{t['vehicle_name']}}</option>
                            {% endfor %}
                        </select>
                        <button name="button" value="loose" class="btn btn-info btn-block" type="submit">Submit</button>
                    </form>
            </div>
            </div>
            <div class="tab-pane fade show" id="regular" role="tabpanel" aria-labelledby="regularTab">   
            <div class="address-grid p-sm-4 p-2">
                    <form>
                        <select class="form-control" style="font-size:20px;margin:10px 0px;margin-right:0px;margin-left:0px;" name="farmer">
                            <option value="farmer" selected="">Farmers List</option>
                            {% for f in farmerregular %}
                            <option value="{{f['first_name']}}">{{f["first_name"]}}</option>
                            {% endfor %}
                        </select>
                        <div style="display: inline-flex; width: 100%;">
                            <select class="form-control" style="font-size:20px;margin:10px 0px;width: 90%;" name="product">
                                <option value="" selected="">Products</option>
                                {% for p in productloose %}
                                <option value="{{p['product_name']}}">{{p['product_name']}}</option>
                                {% endfor %}
                            </select>
                            <button style="border-radius: 50%; width: 10%; margin: 10px 0px 10px 8px;" class="btn btn-info" id="addRegular">
                                <i class="fa-plus fa"></i>
                            </button>
                        </div>
                        <div id="regularQuantity">

                        </div>
                       
                        <select class="form-control" style="font-size:20px;margin:10px 0px;" name="transport">
                            <option value="transport" selected="">Transport</option>
                            {% for t in transportregular %}
                            <option value="{{t['vehicle_name']}}">{{t['vehicle_name']}}</option>
                            {% endfor %}
                        </select>
                            <button name="button" value="regular" class="btn btn-info btn-block" type="submit">Submit</button>
                    </form>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

</div>
</div>

{% endblock %}

