{% extends 'team/team_base.html' %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js">
</script>
<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
});
</script>
<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User : {{user}}</li>
    </ol>
</div>
<div class="address py-5" id="contact">
<div class="container">
    <div class="container text-center">
        <form action="" method="POST">
            <input type="text" id="datePicker" name="date" value="{{today}}" style="font-size:18px; text-align:center" />
    </div>
    <div class="main-title text-center">
        <h3 class="tittle text-dark font-weight-bold">Distribution Section</h3>
        <p class="sub-tittle mt-2">Enter Customer Details And Order Details To Submit This Form</p>
    </div>
<div class="col-md-12">
    <div class="row address-row">
        <div class="col-md-3 "></div>
            <div class="col-md-6 col-xs-6 col-xs-offset-1">
                <div class="wow agile fadeInLeft animated mt-lg-0 mt-5" data-wow-delay=".5s">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="looseTab" data-toggle="tab" href="#loose" role="tab" aria-controls="loose" aria-selected="true">Loose</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="regularTab" data-toggle="tab" href="#regular" role="tab" aria-controls="regular" aria-selected="false">Regular</a>
                        </li>
                    </ul>
                    <div class="tab-content " id="myTabContent">
                        <div class="tab-pane fade show active" id="loose" role="tabpanel" aria-labelledby="looseTab">    
                            <div class="address-grid p-sm-5 p-4">
                            <form>      
                                <select 
                                    class="form-control" style="font-size:20px;margin:10px 0px;margin-right:0px;margin-left:0px;" name="customer">
                                    <option value="" selected="">Customers List</option>
                                    {% for i in customers %}
                                    <option value="{{i['nick_name']}}">{{i['nick_name']}}</option>
                                    {% endfor %}
                                </select>
                                <select
                                    class="form-control" style="font-size:20px;margin:10px 0px;" name="product">
                                    <option value="" selected="">Products</option>
                                    {% for i in products %}
                                    <option value="{{i['product_name']}}">{{i['product_name']}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control" type="text" placeholder="No of Box / No of Carrots" style="margin:5px 0px;margin-top:-5px;" name="unit">
                                <input class="form-control" type="text" placeholder="No of Trays / No of Kg" style="margin:5px 0px;margin-top:-5px;" name="quantity">
                                <select
                                    class="form-control" style="font-size:20px;margin:10px 0px;" name="grade">
                                    <option value="" selected="">Grade Level</option>
                                    {% for i in products %}
                                    <option value="{{i['product_grade']}}">{{i['product_grade']}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control" type="text" placeholder="Rate" style="margin:5px 0px;margin-top:-5px;" name="rate">
                                <button name="button" value="loose" class="btn btn-info btn-block" type="submit">Submit</button>
                            </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="regular" role="tabpanel" aria-labelledby="regularTab">    
                            <div class="address-grid p-sm-5 p-4">
                            <form>
                                <select 
                                    class="form-control" style="font-size:20px;margin:10px 0px;margin-right:0px;margin-left:0px;" name="customer">
                                    <option value="" selected="">Customers List</option>
                                    {% for i in customers %}
                                    <option value="{{i['nick_name']}}">{{i['nick_name']}}</option>
                                    {% endfor %}
                                </select>
                                <select
                                    class="form-control" style="font-size:20px;margin:10px 0px;" name="product">
                                    <option value="" selected="">Products</option>
                                    {% for i in products %}
                                    <option value="{{i['product_name']}}">{{i['product_name']}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control" type="text" placeholder="No of Box / No of Carrots" style="margin:5px 0px;margin-top:-5px;" name="unit">
                                <input class="form-control" type="text" placeholder="No of Trays / No of Kg" style="margin:5px 0px;margin-top:-5px;" name="quantity">
                                <select
                                    class="form-control" style="font-size:20px;margin:10px 0px;" name="grade">
                                    <option value="" selected="">Grade Level</option>
                                    {% for i in products %}
                                    <option value="{{i['product_grade']}}">{{i['product_grade']}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control" type="text" placeholder="Rate" style="margin:5px 0px;margin-top:-5px;" name="rate">
                                <button name="button" value="regular" class="btn btn-info btn-block" type="submit">Submit</button>
                             </form>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
</div>
{% endblock %}