{% extends 'admin/admin_base.html' %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
});
</script>

<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User : {{user}}</li>
    </ol>
</div>


<div class="row address-row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div class="container text-center">
            <div>
                <form action="" method="POST">
                    <input type="text" id="datePicker" name="date" value="{{date}}" style="font-size:18px; text-align:center" />
                    <button type="submit" class="btn btn-info" style="font-size:16px; margin-top: -6px">GO</button>
                    <a href="/admin_sell_entry/<user>" class="btn btn-success" style="font-size:18px; text-align:center; margin-left: 30px; margin-top: -5px;">Add Details</a>
                </form>
            </div>
            

                <div>
                    <h3 class="text-center" style="color:rgb(8,3,3);font-size:40px;">Sell</h3>
                    <div class="well" style="height:auto;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in details_s %}
                                    <tr>
                                        <td>{{i['customer']}}</td>
                                        <td>{{i['product']}}</td>
                                        {% if i['product'] == "Strawberry" %}
                                        <td>{{i['unit'] + " Box"}}</td>
                                        <td>{{i['quantity'] + " Tray"}}</td>
                                        {% else %}
                                        <td>{{i['unit'] + " Carrots"}}</td>
                                        <td>{{i['quantity'] + " Kg"}}</td>
                                        {% endif %}
                                        <td>{{i['rate']}}</td>
                                        <td>{{i['amount']}}</td>
                                        <td>{{i['time']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
            </div>
            </div>
    <div class="col-xs-12 col-md-2"></div>
</div>
</div>






{% endblock %}