{% extends 'admin/admin_base.html' %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<style>
section {
    margin-top: -20px;
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f2f4fa;
}
.wrap {
    display: flex;
    background-color: #57BF49;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    color: black;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #black;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem
}
</style>

<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User : {{user}}</li>
    </ol>
</div>

<section>
    <div class="container">        
            <div class="row mbr-justify-content-center">    
                <div class="col-lg-4 col-xs-12">
                    <a href="/admin_purchase">
                        <div class="wrap">
                            <div class="ico-wrap">
                                <span class="mbr-iconfont fa-cart-plus fa"></span>
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Total Purchase</h2>
                                <h3 class="mbr-fonts-style  mbr-bold mbr-section-title3 display-6">Products: 1</h3>
                                <h3 class="mbr-fonts-style  mbr-bold display-6">Boxes: 5</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <a href="/admin_sell">
                        <div class="wrap">
                            <div class="ico-wrap">
                                <span class="mbr-iconfont fa-cart-arrow-down fa"></span>
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Total Sell</h2>
                                <h3 class="mbr-fonts-style text1 mbr-text display-6">Products: 1</h3>
                                <h3 class="mbr-fonts-style text1 mbr-text display-6">Boxes: 4</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <a href="/admin_stock">
                        <div class="wrap">
                            <div class="ico-wrap">
                                <span class="mbr-iconfont fa-cart-arrow-down fa"></span>
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Available Stock</h2>
                                <h3 class="mbr-fonts-style text1 mbr-text display-6">Products: 1</h3>
                                <h3 class="mbr-fonts-style text1 mbr-text display-6">Boxes: 1</h3>
                            </div>
                        </div>
                    </a>
                </div>                
            </div>    
    </div>    
</section>

{% endblock %}