{% extends 'admin/admin_base.html' %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
});
</script>

<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User : {{user}}</li>
    </ol>
</div>


<div class="serives-agile py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="row support-bottom text-center">
            <div class="col-md-4 services-w3ls-grid">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <a href="/admin_sell"><h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Sell</h4></a>
                <p>Our Sell</p>
            </div>
            <div class="col-md-4 services-w3ls-grid my-md-0 my-4">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <a href="/admin_purchase"><h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3"> Purchase</h4></a>
                <p>Our Purchase</p>
            </div>
            <div class="col-md-4 services-w3ls-grid">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <a href="/admin_stock"><h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Total Stock</h4></a>
                <p>Our Stock</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row address-row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <div class="container text-center">
            <div>
                <form action="" method="POST">
                    <input type="text" id="datePicker" name="date" value="{{date}}" style="font-size:18px; text-align:center" />
                    <button type="submit" class="btn btn-info" style="font-size:16px; margin-top: -6px">GO</button>
                </form>
            </div>
            
                <div>
                    <h3 class="text-center" style="color:rgb(8,3,3);font-size:40px;"><a href="admin_purchase.html">Purchase</a></h3>
                    <div class="well" style="height:auto;">
                        <div class="table-responsive show">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Farmer</th>
                                        <th>Product</th>
                                        <th>Grade</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Total Amount</th>
                                        <th>Transport</th>
                                        <th>Time</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in details_p %}
                                    <tr>
                                        <td>{{i['farmer']}}</td>
                                        <td>{{i['product']}}</td>
                                        <td>{{i['grade']}}</td>
                                        <td>{{i['quantity'] +" "+i['unit']}}</td>
                                        <td>{{i['rate']}}</td>
                                        <td>{{i['balance']}}</td>
                                        <td>{{i['transport']}}</td>
                                        <td>{{i['time']}}</td>
                                        <td><a href="/edit/{{i['time']}}/{{user}}">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="text-center" style="color:rgb(8,3,3);font-size:40px;"><a href="admin_sell.html">Sell</a></h3>
                    <div class="well" style="height:auto;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in details_s %}
                                    <tr>
                                        <td>{{i['customer']}}</td>
                                        <td>{{i['product']}}</td>
                                        {% if i['product'] == "Strawberry" %}
                                        <td>{{i['unit'] + " Box"}}</td>
                                        <td>{{i['quantity'] + " Tray"}}</td>
                                        {% else %}
                                        <td>{{i['unit'] + " Carrots"}}</td>
                                        <td>{{i['quantity'] + " Kg"}}</td>
                                        {% endif %}
                                        <td>{{i['rate']}}</td>
                                        <td>{{i['amount']}}</td>
                                        <td>{{i['time']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="text-center" style="color:rgb(8,3,3);font-size:40px;"><a href="admin_stock.html">Total Stock</a></h3>
                    <div class="well" style="height:auto;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in details_s %}
                                    <tr>
                                        <td>{{i['customer']}}</td>
                                        <td>{{i['product']}}</td>
                                        {% if i['product'] == "Strawberry" %}
                                        <td>{{i['unit'] + " Box"}}</td>
                                        <td>{{i['quantity'] + " Tray"}}</td>
                                        {% else %}
                                        <td>{{i['unit'] + " Carrots"}}</td>
                                        <td>{{i['quantity'] + " Kg"}}</td>
                                        {% endif %}
                                        <td>{{i['rate']}}</td>
                                        <td>{{i['amount']}}</td>
                                        <td>{{i['time']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    <div class="col-xs-12 col-md-2"></div>
</div> -->
<!-- </div> -->






{% endblock %}