{% extends 'web_base.html' %}
{% block body %}

	<!-- banner -->
	<div class="slider">
		<!-- Slideshow -->
		<ul class="rslides" id="slider">
			<li>
				<div class="slider-info banner-1">
					<div class="container">
						<div class="style-banner">
							<h3 class="text-white font-weight-bold">Natural Produce Fresh to Your Door</h3>
							<p class="text-light mt-sm-3 mt-2"></p>
							<a href="/about_avanee_agro" class="btn button-style mt-sm-5 mt-4">Read More</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info banner-2">
					<div class="container">
						<div class="style-banner">
							<h3 class="text-white font-weight-bold">We Grow & Sell Organic Fruits</h3>
							<p class="text-light mt-sm-3 mt-2"></p>
							<a href="/about_avanee_agro" class="btn button-style mt-sm-5 mt-4">Read More</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info banner-3">
					<div class="container">
						<div class="style-banner">
							<h3 class="text-white font-weight-bold">Natural & Fresh Fruits Supply</h3>
							<p class="text-light mt-sm-3 mt-2"></p>
							<a href="/about_avanee_agro" class="btn button-style mt-sm-5 mt-4">Read More</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- //banner -->

	<!-- banner bottom -->
	<div class="w3ls-welcome py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 welcome-right p-lg-0 mt-lg-3 text-lg-left text-center">
					<img src="/static/website/images/about.jpg" alt=" " class="img-fluid">
				</div>
				<div class="col-lg-6 welcome-left mt-4 p-lg-0">
					<h3 class="text-dark font-weight-bold">Welcome To Avanee Agro Services</h3>
					<h4 class="mb-sm-5 mb-4 mt-3 font-italic">Avanee Agro Services Produce, Store, Sell all Natural Fresh Fruits, We are Proud to be one of the highest Producer & Exporter for Strawberries in Maharashtra. 
					</h4>
					<div class="row support-bottom">
						<div class="col-sm-6 support-grid">
							<div class="icon-effect">
								<i class="fa fa-bus" aria-hidden="true"></i>
							</div>
							<h5 class="text-dark mt-4 mb-3">Farmer to Customer</h5>
							<p>Export high quality fresh fruits from farmers to Customers all over India.</p>
							<a href="/about_avanee_agro" class="btn button-style-2 text-uppercase mt-sm-4 mt-3 p-0">Read More<i class="fa fa-caret-right ml-2"
								 aria-hidden="true"></i></a>
						</div>
						<div class="col-sm-6 support-grid mt-sm-0 mt-5">
							<div class="icon-effect grid-w3ls-2">
								<i class="fa fa-refresh" aria-hidden="true"></i>
							</div>
							<h5 class="text-dark mt-4 mb-3">24/7 Service in India</h5>
							<p>Our 24/7 Export service provide fresh fruits to the Customers all over India.</p>
							<a href="about.html" class="btn button-style-2 text-uppercase mt-sm-4 mt-3 p-0">Read More<i class="fa fa-caret-right ml-2"
								 aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->



	<!-- stats -->
	<section class="team-sec main-stats-inner py-5" id="stats">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5 pb-3">
				<h3 class="tittle text-dark font-weight-bold">Why Avanee Agro Services?</h3>
				<p class="sub-tittle mt-2">Goal of Avanee Agro Services is to provide Fresh and Organic fruits grown by the indian farmers
					to the Customers and Traders</p>
			</div>
			<!-- //heading title -->
			<div class="inner-sec-w3ls-agileits">
				<div class="row stats-con text-center border">
					<div class="col-md-3 col-6 stats_info counter_grid p-0">
						<i class="fa fa-external-link" aria-hidden="true"></i>
						<p class="counter font-weight-bold">645</p>
						<h4>Satisfied Farmers</h4>
					</div>
					<div class="col-md-3 col-6 stats_info counter_grid1 p-0">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
						<p class="counter font-weight-bold">563</p>
						<h4>Traders</h4>
					</div>
					<div class="col-md-6 main-stats-inner-img">

					</div>
					<div class="col-md-6 main-stats-inner-img two">

					</div>
					<div class="col-md-3 col-6 stats_info counter_grid p-0">
						<i class="fa fa-magic" aria-hidden="true"></i>
						<p class="counter font-weight-bold">1145</p>
						<h4>Awards</h4>
					</div>
					<div class="col-md-3 col-6 stats_info counter_grid2 p-0">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
						<p class="counter font-weight-bold">1045</p>
						<h4>Happy Clients</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //stats -->

	<!-- services -->
	<div class="serives-agile py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<div class="row support-bottom text-center">
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-shopping-basket" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Fresh Fruits</h4>
					<p>We export Fresh and Organic Fruits all Over India.</p>
				</div>
				<div class="col-md-4 services-w3ls-grid my-md-0 my-4">
					<i class="fa fa-cubes" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Dairy Products</h4>
					<p>We Provide Milk related Fresh Dairy Products.</p>
				</div>
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-archive" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Cold Storage</h4>
					<p>We are involved Cold Storage and they are operated using modern technology.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->

	<!-- work -->
	<section class="works-agiles py-5" id="work">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5 pb-3">
				<h3 class="tittle text-dark font-weight-bold">Our Work</h3>
				<p class="sub-tittle mt-2">Avanee Agro Services Provides Import/Export of Fresh Fruits, Fresh Vegetables, Dry Fruits, Dairy Products and Cold Storage.</p>
			</div>
			<!-- //heading title -->
			<div class="price-right">
				<div class="tabs">
					<ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
							 aria-selected="true">Supply</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
							 aria-selected="false">Cold Storage</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="menu-grids">
								<div class="row">
									<div class="col-lg-6 price-main-info">
										<div class="tabs-sect-w3ls mb-sm-5 mb-4">
											<h3 class="text-dark font-weight-bold text-mobile-w3-2">Supply</h3>
											<h4 class="mt-3 font-italic dtyle-title">We supply Fresh Vegetables,Fruits, Healthy Dry Fruits and Fresh Dairy Products all over India.</h4>
										</div>
										<div class="progress-one">
											<h4 class="progress-tittle">Fresh Vegetables and Fruits</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%"
												 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="progress-one two-progress">
											<h4 class="progress-tittle">Healthy Dry Fruits</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 88%"
												 aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="progress-one">
											<h4 class="progress-tittle">Dairy Products</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
												 aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 price-main-info-2 mt-lg-0 mt-5">
										<img src="/static/website/images/farmer1.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="menu-grids">
								<div class="row">
									<div class="col-lg-6 price-main-info-2">
										<img src="/static/website/images/storage.jpg" alt="" class="img-fluid">
									</div>
									<div class="col-lg-6 price-main-info mt-lg-0 mt-5">
										<div class="tabs-sect-w3ls mb-sm-5 mb-4">
											<h3 class="text-dark font-weight-bold text-mobile-w3-2">Cold Storage</h3>
											<h4 class="mt-3 font-italic dtyle-title">We are involved Cold Storage and they are operated using modern technology.</h4>
										</div>
										<div class="progress-one">
											<h4 class="progress-tittle">Cold Storage</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%"
												 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="progress-one two-progress">
											<h4 class="progress-tittle">Packaging</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 88%"
												 aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="progress-one">
											<h4 class="progress-tittle">Branding</h4>
											<div class="progress">
												<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
												 aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //work -->

{% endblock %}