{% extends 'admin/admin_base.html' %}
{% block body %}
<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</div>
<div class="row address-row">
    <div class="col-md-4 "></div>
    <div class="col-md-4 col-xs-8 col-xs-offset-2" style="margin-bottom:110px">
        <div class="wow agile fadeInLeft animated mt-lg-0 mt-5" data-wow-delay=".5s">
            <div class="address-grid p-sm-5 p-4">
                <h4 class="wow fadeIndown animated mb-3" data-wow-delay=".5s">LOGIN</h4>
                <form method="POST">
                    <div class="form-group">
                        <label class="control-label"><strong>Username </strong></label>
                        <input class="form-control" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label"><strong>Password </strong></label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <button class="btn btn-info btn-block" type="submit">LOGIN </button>
                </form>
                <!-- <div style="margin-top:10px;"><a href="register" >Register</a></div> -->
                
            </div>
        </div>
        <div class="col-md-4"></div> 
    </div>
</div>

{% endblock %}
