{% extends 'web_base.html' %}
{% block body %}
<!-- banner -->
	<div class="banner-w3ls-2">

	</div>
	<!-- //banner -->
	<!-- page details -->
	<div class="breadcrumb-agile">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Products</li>
		</ol>
	</div>
	<!-- //page details -->

	<!-- gallery -->
	<div class="gallery-agile py-5">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5 pb-3">
				<h3 class="tittle text-dark font-weight-bold">Products</h3>
				<p class="sub-tittle mt-2">Avanee Agro Services provide variety of Fresh and Organic Fruits.</p>
			</div>
			<!-- //heading title -->
			<div class="row gallery-agile-kmsrow">
				<div class="col-md-4 col-sm-6 gallery-agile-grids">
					<div class="portfolio-hover">
						<a href="/static/website/images/g1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g1.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Apples</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids mt-sm-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g8.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g8.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Pomegranate</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids mt-md-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g6.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Banana</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids my-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g3.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Grapes</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids my-md-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g7.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Oranges</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids my-md-4 mt-sm-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g9.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g9.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Strawberries</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids mt-md-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g2.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Berries</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids mt-md-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g5.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Mango</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 gallery-agile-grids mt-md-0 mt-4">
					<div class="portfolio-hover">
						<a href="/static/website/images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua.">
							<img src="/static/website/images/g4.jpg" class="img-fluid zoom-img" alt="" />
							<div class="name-agile-gallery">
								<h4>Avocado</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
{% endblock %}